{% extends 'base.html' %}

{% block title %} New Post {% endblock %}

{% block content %}

    <h1>Create Post for {{ user.first_name }} {{ user.last_name }}</h1>

    <form action="/users/[user-id]/posts/new" method="POST">
        <label for="title">Title
            <input type="text" name="title" placeholder="Enter Title">
        </label>
        <label for="content">Post
            <input type="text" name="content" placeholder="Create your post">
        </label>
        <button class="button">Submit</button>
    </form>
    <form action="/users/{{user.id}}">
        <button>Cancel</button>
    </form>

{% endblock %}