{% extends 'base.html' %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %} 

<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<img src="user.img.url"  class="user_img" alt="User's profile picture">

<h2>Posts</h2>
<ul name="users_posts">
    {% for post in user.posts%}
        <li> 
            <a href="/posts/{{ post.id }}">
                {{ post.title }} 
            </a>            
        </li>
    {% endfor %}
</ul>

<form action="/users/{{ user.id }}/edit">
    <button name="editUserBttn">Edit</button>
</form>

<form action="/users/{{ user.id }}/delete" method="POST">
    <button name="deleteUserButton">Delete</button>
</form>

<form action="/users/{{ user.id }}/posts/new">
    <button name="newPostBttn">New Post</button>
</form>

<form action="/users">
    <button>Cancel</button>
</form>

{% endblock %}